.jumbotron {
  background: url(img/bg-gabut.jpg);
  color: #fff;
  padding-top: 8em;
  display: flex;
  justify-content: center;
}
#projects {
}

/* typewriter */
.typewriter h1 {
  overflow: hidden;
  border-right: .15em solid pink;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* efek kursor */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: pink; }
}

/* efek typed-text */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
